$black: #100f0d;
$black-50: #21201e;
$black-20: #b9b9b9;
$black-10: #cacaca;
$white: #f9f8f6;
$red: #e18080;
$yellow: #ffc446;
$green: #84f37f;
$green-main: #63d72a;
$green-tap: #387516;

$card-background: #f2f2f2;
$border-radius: 8px;

$text-brand: #454746;
$text-secondary: #6c706e;

$green: #30AD00;
