@use "./styles/reset.scss";
@use "./styles/variables.scss";

@use "./styles/Roboto/fonts.scss";

body {
  margin: 0px;
  padding: 0px;
  background-color: variables.$white;
  font-family: "Roboto";
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1270px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  transition: margin-left 0.3s ease;
}

// Адаптивность для мобильных устройств
@media (max-width: 768px) {
  .container {
    margin-left: 0 !important;
  }
}

main {
  min-height: calc(100vh - 100px);
}
